In [6]:
# Question 1

# Answer 1 -
import pandas as pd

data=[4, 8, 15, 16, 23,42]

df=pd.DataFrame(data)
display(df)

    0
0   4
1   8
2  15
3  16
4  23
5  42

In [9]:
# Question 2

# Answer 2 -

import pandas as pd

a = [1, 7, 2,5,4,3,8,9,7,0]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
3    5
4    4
5    3
6    8
7    9
8    7
9    0
dtype: int64

In [11]:
# Question 3

# Answer 3 -

import pandas as pd

dict1={'Name':['Alice','Bob','Claire'],
       'Age':[25,30,27], 
       'Gender':['Female','Male','Female']
        }
df1=pd.DataFrame(dict1)
display(df1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [19]:
# Question 4

# Answer 4 -
# A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

# Pandas Series only has one data column, whereas pandas DataFrame has data for multiple columns


import pandas as pd

df2  = pd.read_csv('services.csv')

print("Data Type of the Full Data Frame is : ",type(df2),"\r\n")

print("Data Type of one column Data is : ",type(df2['location_id']))

Data Type of the Full Data Frame is :  <class 'pandas.core.frame.DataFrame'>

Data Type of one column Data is :  <class 'pandas.core.series.Series'>

In [36]:
# Question 5

# Answer 5 - Common functions used to manipulate data in a Pandas DataFrame: -

import pandas as pd

df2  = pd.read_csv('services.csv')

# 1. columns function

print (df2.columns,"\r\n")

# 2. Len function

print("length of the data frame is: ",len(df2),"\r\n")

# 3. Loc function

print(df2.loc[5])

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

length of the data frame is:  23

id                                                                         6
location_id                                                                6
program_id                                                               NaN
accepted_payments                                                        NaN
alternate_name                                                           NaN
application_process        Walk in or apply by phone for membership appli...
audience                                                             Any age
description                A multipurpose center offering a wide variety ...
eligibility                                                             None
email                                                                    NaN
fees                       $55 per year membership dues. Classes have fee...
funding_sources                              Fees, Fundraising, Grants, Dues
interpretation_services                                                  NaN
keywords                   ADULT PROTECTION AND CARE SERVICES, In-Home Su...
languages                                                                NaN
name                                    Little House Recreational Activities
required_documents                                                       NaN
service_areas                                               San Mateo County
status                                                                active
wait_time                                                           No wait.
website                                                                  NaN
taxonomy_ids                                                             NaN
Name: 5, dtype: object

In [37]:
# Question 6

# Answer 6 - Pandas DataFrame is mutable in nature out of pandas DataFrame, Series, Panel

In [39]:
# Question 7

# Answer 7

import pandas as pd

# Create pandas Series

courses = pd.Series(["English","Hindi","Maths"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.

df=pd.concat([courses,fees],axis=1)
print(df,"\r\n")

# combine multiple series.

df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1
0  English  22000
1    Hindi  25000
2    Maths  23000

         0      1     2
0  English  22000  1000
1    Hindi  25000  2300
2    Maths  23000  1000